In [1]:
import numpy as np
import pandas as pd 
import csv
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/Sumit/Downloads/Datasets/terrorismData.csv') # load the dataset

In [4]:
df.info() # all information about our dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year         181691 non-null  int64
 1   Month        181691 non-null  int64
 2   Day          181691 non-null  int64
 3   Country      181691 non-null  object
 4   State        181270 non-null  object
 5   Region       181691 non-null  object
 6   City         181257 non-null  object
 7   Latitude     177135 non-null  float64
 8   Longitude    177134 non-null  float64
 9   AttackType   181691 non-null  object
 10  Killed       171378 non-null  float64
 11  Wounded      165380 non-null  float64
 12  Target       181055 non-null  object
 13  Summary      115562 non-null  object
 14  Group        181691 non-null  object
 15  Target_type  181691 non-null  object
 16  Weapon_type  181691 non-null  object
dtypes: float64(4), int64(3), object(10)
memory usage: 23.6+ MB

In [6]:
df.head(5)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

### Q1. In which city did the most dangerous attack happened in J&K  ?

In [81]:
# Filtering data to get Info about J&K only 
filt1 = df['State'] == 'Jammu and Kashmir'

# Finding that attack when most people were killed + Wounded  
df[filt1].dropna(subset = ['Killed','Wounded']).nlargest(5,['Killed','Wounded'])

## The attack in city Pahalgam of J&K was the dangerous of all in which 35 people were killed and 94 were Wounded.

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
70784,2000,8,1,India,Jammu and Kashmir,South Asia,Pahalgam,34.016075,75.314980,Armed Assault,35.0,94.0,Civilians traveling to a shrine close to Pahal...,08/01/2000: Thirty-five people were gunned by ...,Unknown,Private Citizens & Property,Firearms
70198,2000,3,21,India,Jammu and Kashmir,South Asia,Chadisinghpoora,33.778175,76.576171,Armed Assault,35.0,1.0,"Civilians in Chadisinghpoora, India",03/21/2000: About 30-40 unidentified Muslim mi...,Lashkar-e-Taiba (LeT),Private Citizens & Property,Firearms
74149,2002,5,14,India,Jammu and Kashmir,South Asia,Jammu,32.659050,74.881414,Armed Assault,34.0,45.0,Indian Army base in Kaluchak,05/14/2002: Three Islamic militants wearing In...,Lashkar-e-Taiba (LeT),Military,Firearms
73199,2001,10,1,India,Jammu and Kashmir,South Asia,Srinagar,34.083740,74.789902,Bombing/Explosion,31.0,60.0,"Jammu and Kashmir State Assembly in Srinagar, ...","10/01/2001: Wajahat Hussain, a Pakistani natio...",Jaish-e-Mohammad (JeM),Government (General),Explosives
54257,1992,11,30,India,Jammu and Kashmir,South Asia,Srinagar,34.083740,74.789902,Armed Assault,30.0,0.0,Convoy,NaN,Kashmiri extremists,Military,Firearms

### Q2. Which is the most Dangerous city in J&K based on the number of terroriest attacks ?

In [90]:
filt1 = df['State'] == 'Jammu and Kashmir'

df[filt1].value_counts(['City' , 'Group'])

## Since, 657 attacks happened in Srinagar b/w 1970 and 2017 It is the most Dangerous city of J&K.
## "Muslim Separatists" was the most active Known terrorism Group with 55 attacks in Srinagar.

City             Group
Srinagar         Unknown                               306
Sopore           Unknown                                63
Srinagar         Muslim Separatists                     55
Anantnag         Unknown                                51
Srinagar         Jammu and Kashmir Liberation Front     45
                                                      ...
Kargil District  Separatists                             1
Karimabad        Unknown                                 1
Kathua           Al-Shuda Brigade                        1
                 Hizbul Mujahideen (HM)                  1
uri              Muslim Militants                        1
Length: 965, dtype: int64

### Q3.  Which Country had faced the highest number of Terror Attacks ?

In [112]:
# Drop Null values of the country column
df1 = df.dropna(subset = 'Country')
#Count the number of times attack happened , country wise 
df1.value_counts('Country')

## Most attacked country by the terrorists b/w 1970 and 2017 was IRAQ with 24,636 attacks occured in total.

# Dividing the number of occurance of attacks w.r.t years 
df1[df1['Country'] == 'Iraq'].value_counts('Year')

## 2014 was most attack occuring year for IRAQ with a total of 3,933 attacks occured.

Year
2014    3933
2016    3360
2013    2852
2015    2751
2017    2466
2012    1437
2011    1308
2010    1179
2009    1137
2008    1106
2007    1047
2006     838
2005     617
2004     323
2003     102
1992      35
1997      21
1994      18
1995      17
1999      12
1996      12
2000      10
1998       7
1980       6
2002       6
1982       5
1988       4
1989       4
1983       3
1981       3
2001       3
1987       3
1991       3
1976       3
1984       2
1979       2
1975       1
dtype: int64

### Q4.  Which was the most Deadliest terroriest attack in the history of HumanKind ?

In [121]:
drop_null_vals = df.dropna(subset = ['Killed','Wounded'])
deadliest_attack = drop_null_vals.nlargest(1,['Killed','Wounded'])[['Killed','Country','Group']]

# It was the 9/11 attack done by Al-Qaida that was known as the most deadliest terrorist attack happened in the history of HumanKind. 
# 1,384 were killed in that hijacking and 8,190 Citizens were wounded.  
# It ocurred in the year of 2001 in NYC , USA.

       Killed        Country     Group
73126  1384.0  United States  Al-Qaida

## Q5. Find most deadliest terorist group of all time & their first terrorist attack year and country.

In [ ]:
df2['Group'].replace('Unknown' , None , inplace = True) # Replace Unknown string with None 
df2.dropna(inplace = True) # Drop None Values from DataFrame
df2['Group'].value_counts().head(1) # Finding the most ocurred name of the Terrorist Group in provided DataFrame

## Hence "Taliban" is the most deadliest terroriest group of all time with most attacks done

#To find "Taliban's" first attack year and month ...

df2[df2['Group'] == 'Taliban'].sort_values(by = ['Year','Month','Day'] , ascending = [True , True , True]).head(1)

## Hence "taliban" attacked firstly in Sept. 2001 on Afganistan.

## Q6. Find frequency of the Casuality in Red Corridor states and in J&K.

In [229]:
red_corridor = ['Odisha' , 'Jharkhand' , 'Andhra Pradesh' , 'Chhattisgarh']

# Using Indexing to find quickly the required States's Data

df1 = df.set_index('State') 

df2 = df1.loc[['Odisha' , 'Jharkhand' , 'Andhra Pradesh' , 'Chhattisgarh']]

# finding Frequency for the RED CORRIDOR
# frequency = Total Casuality of A State / Total Number of a Year

frequency = df2['Killed'].groupby('State').sum() / len(df2['Year'].unique())

# Finding Frequency for J&K

filt5 = df['State'] == 'Jammu and Kashmir'

frequency_JK = df[filt5]['Killed'].sum() /  len(df2['Year'].unique())

frequency , 'Jammu and Kashmir' ,frequency_JK

### So from here we can say that J&K have higher frequency of Casualities per year than all of the red corridor states combined.

(State
 Andhra Pradesh    16.96875
 Chhattisgarh      45.78125
 Jharkhand         24.87500
 Odisha             6.90625
 Name: Killed, dtype: float64,
 'Jammu and Kashmir',
 127.46875)